.resume{
    margin: 0px 110px;
    padding: 40px 0px 60px 0px;
    border-bottom: 2px solid #15151aab;

    .top{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        span{}
        h2{
            font-size: 65px;
            text-transform: capitalize;
            color: #f6e8f8;
        }
    }
    .bottom{
        display: flex;
        margin-top: 20px;

        .left{
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .left-top{
                h3{
                    font-size: 35px;
                    color: #f8f8f8;
                }
            }
            .left-bottom{
                display: flex;
                flex-direction: column;
                margin-top: 10px;
                
                .left-container{
                    display: flex;
                    
                    .line-up{
                        background-color: #181518;
                        height: auto;
                        width: 3px;
                    }

                    .left-item{
                        display: flex;
                        position: relative;

                        .knot{
                            background-color: #181518;
                            height: 8px;
                            width: 8px;
                            border-radius: 50%;
                            display: flex;
                            align-self: center;
                            position: absolute;
                            left: -5.6px;
                        }

                        .line-across{
                            background-color: #181518;
                            height: 3px;
                            width: 20px;
                            display: flex;
                            align-self: center;
                            // position: relative;
                        }

                        .item-wrapper{
                            -webkit-box-shadow: 1px 6px 14px -1px #15151aab; 
                            box-shadow: 1px 6px 14px -1px #15151aab;
                            height: auto;
                            width: 85%;
                            display: flex;
                            flex-direction: column;
                            gap: 20px;
                            padding: 20px;
                            border-radius: 10px;
                            margin-bottom: 20px;
                            background-color: #272b30;
                            transition: all 0.3s ease;

                            &:hover{
                                background-color: #1a1b25;
                            }

                            .header{
                                h3{
                                    font-size: 25px;
                                    color: #c2d9e5;
                                }
                                span{
                                    color: #626b73;
                                }
                            }
                            p{
                                color: #a1aab6;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }
        .right{
            // background-color: blue;
            flex: 1;
        }
    }
}

// mobile phones
@media only screen and (max-width:768px){
    .resume{
        // width: 100vw;
        overflow-x: hidden;
        padding: 20px;
        margin: 0px;

        .top{
            // width: 90wv;
            span{}
            h2{
                font-size: 46px;
            }
        }

        .bottom{
            display: flex;
            flex-direction: column;

            .left{
                .left-top{
                    h3{
                        font-size: 26px;
                    }
                }

                .left-bottom{
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    width: 92vw;

                    .left-container{
                        .line-up{}
                        .left-item{
                            .knot{}
                            .line-across{}
                            .item-wrapper{
                                width: auto;
                                height: auto;

                                .header{
                                    h3{
                                        font-size: 20px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .right{}
        }
    }
}