.home{
    margin: 0px 110px;
    display: flex;
    gap: 10px;
    color: white;
    border-bottom: 2px solid #20211f;
    padding: 40px 0px 60px 0px;
    background-color: #282a30;

    .left{
        flex: 1.5;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .intro{
            h3{
                font-size: 30px;
                font-weight: 600;

                span{
                    color: #f40840;
                }
            }
            h2{
                font-size: 70px;
                font-weight: 700;
            }
            span{
                font-size: 35px;
                font-weight: 600;
            }
        }
        p{}
        .social{
            display: flex;
            flex-direction: column;
            gap: 20px;

            h3{
                text-transform: uppercase;
            }
            .social-items{
                display: flex;
                align-items: center;
                gap: 20px;

                .social-item{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    height: 50px;
                    width: 50px;
                    background-color: #20211f;
                    border-radius: 5px;

                    .icon{
                        font-size: 25px;
                    }

                    &:hover{
                        background-color: #f40840;
                    }
                }
            }
        }
        .featured{
            display: flex;
            align-items: center;
            gap: 70px;

            .featured-item{
                h3{}
                span{
                    text-transform: uppercase;
                }
            }
        }
    }
    .right{
        // background-color: red;
        flex: 1;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        .frame{
            position: absolute;
            width: 400px;
            height: 450px;
            background-color: #20211f;
            top: 25px;
            border-radius: 10px;
        }
        img{
            position: absolute;
            height: 550px;
            top: -50px;
        }
    }
}