.clients{
    margin: 0px 110px;
    padding: 40px 0px 60px 0px;
    border-bottom: 2px solid #15151aab;
    display: flex;
    flex-direction: column;

    .top{
        display: flex;
        align-items: center;
        flex-direction: column;

        span{}
        h2{
            font-size: 60px;
            text-transform: capitalize;
            color: #f6e8f8;
        }
    }
    .bottom{
        margin-top: 20px;
        display: flex;
        align-items: center;
        // justify-content: center;
        flex-wrap: wrap;

        .bottom-item{
            -webkit-box-shadow: 1px 6px 14px -1px #15151aab; 
            box-shadow: 1px 6px 14px -1px #15151aab;
            background-color: #272b30;
            width: 200px;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 20px;
            padding: 20px;
            border-radius: 10px;

            img{
                width: 150px;
            }
        }
    }
}