.clients{
    margin: 0px 110px;
    padding: 40px 0px 60px 0px;
    border-bottom: 2px solid #15151aab;
    display: flex;
    flex-direction: column;

    .top{
        display: flex;
        align-items: center;
        flex-direction: column;

        span{}
        h2{
            font-size: 60px;
            text-transform: capitalize;
            color: #f6e8f8;
        }
    }
    .bottom{
        margin-top: 20px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;

        .bottom-item{
            -webkit-box-shadow: 1px 6px 14px -1px #15151aab; 
            box-shadow: 1px 6px 14px -1px #15151aab;
            background-color: #272b30;
            width: 160px;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 20px;
            padding: 40px;
            border-radius: 10px;
            transition: 0.3s;

            &:hover{
                background-color: #1a1b25;
            }

            img{
                width: 200px;
            }
        }
    }
}

@media only screen and (max-width:768px){
    .clients{
        overflow-x: hidden;
        padding: 20px;
        margin: 0px;

        .top{
            width: 90vw;
            span{}
            h2{
                font-size: 46px;
            }
        }

        .bottom{
            display: flex;
            width: 92vw;

            .bottom-item{
                display: flex;
                flex-wrap: wrap;
                width: 70px;
                height: 50px;
                margin: 5px;
                padding: 15px;

                img{
                    width: 70px;
                    height: 40px;
                }
            }
        }
    }
}