.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px 110px;
    padding: 60px;
    gap: 20px;

    .logo{
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 30px;
        font-weight: bold;
        cursor: pointer;

        .initial{
            display: flex;
            align-items: center;
            gap: 5px;

            span{
            }
            .dot{
                height: 10px;
                width: 10px;
                background-color: #f40840;
                border-radius: 50%;
            }
        }
        span{
            text-transform: uppercase;
        }
    }
    .social{
        display: flex;
        align-items: center;
        gap: 20px;

        .social-item{
            display: flex;
            align-items: center;
            justify-content: center;
            color: #f6e8f8;
            height: 50px;
            width: 50px;
            background-color: #20211f;
            border-radius: 5px;
            transition: all 0.3s ease;

            .icon{
                font-size: 25px;
            }

            &:hover{
                background-color: #f40840;
            }
        }
    }
    span{
        text-transform: capitalize;
        color: #f6e8f8;
    }
}

// mobile phones
@media only screen and (max-width:768px){
    .footer{
        // width: 100vw;
        overflow-x: hidden;
        padding: 20px;
        margin: 0px;

        .logo{
            font-size: 20px;
        }

        .social{
            display: flex;
            gap: 10px;

            .social-item{
                height: 30px;
                width: 30px;

                .icon{
                    font-size: 16px;
                }
            }
        }

        span{
            font-size: 13px;
        }
    }
}