.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px 110px;
    padding-bottom: 20px;
    gap: 20px;

    .logo{
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 30px;
        font-weight: bold;
        cursor: pointer;

        .initial{
            display: flex;
            align-items: center;
            gap: 5px;

            span{
            }
            .dot{
                height: 10px;
                width: 10px;
                background-color: #f40840;
                border-radius: 50%;
            }
        }
        span{
            text-transform: uppercase;
        }
    }
    .social{
        display: flex;
        align-items: center;
        gap: 20px;

        .social-item{
            display: flex;
            align-items: center;
            justify-content: center;
            color: #f6e8f8;
            height: 50px;
            width: 50px;
            background-color: #20211f;
            border-radius: 5px;

            .icon{
                font-size: 25px;
            }

            &:hover{
                background-color: #f40840;
            }
        }
    }
    span{
        text-transform: capitalize;
        color: #f6e8f8;
    }
}