.portfolio{
    margin: 0px 110px;
    padding: 40px 0px 60px 0px;
    // color: white;
    border-bottom: 2px solid #15151aab;

    .top{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        span{}
        h2{
            font-size: 65px;
            text-transform: capitalize;
            color: #f6e8f8;
        }
    }

    .works{
        display: flex;
        align-items: center;

        .item{
            // width: 30%;
            height: 350px;
            margin: 20px 10px;
            // border: 2px solid rgb(243, 242, 242);
            border-radius: 10px;
            overflow: hidden;

            .item-browser{
                height: 20px;
                background-color: #f40840;
                display: flex;
                align-items: center;
                position: sticky;
                z-index: 2;

                .item-circle{
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    margin: 3px;
                    background: #f6e8f8;
                }
            }
            a{
                img{
                    width: 100%;
                    transition: all 10s ease
                }
                img:hover{
                    transform: translateY(-100%);
                }
            }
        }
    }

    .more{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;

        button{
            -webkit-box-shadow: 1px 6px 14px -1px #15151aab; 
            box-shadow: 1px 6px 14px -1px #15151aab;
            background-color: #1a1b25;
            padding: 10px 20px;
            color: #d3dfdb;
            border: none;
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 15px;
            border-radius: 10px;
            cursor: pointer;
            font-weight: 600;

            .more-icon{}
        }
    }
}

@media only screen and (max-width:768px){
    .portfolio{
        // width: 100vw;
        overflow-x: hidden;
        padding: 20px;
        margin: 0;

        .top{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            span{}
            h2{
                font-size: 46px;
            }
        }

        .works{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 92vw;

            .item{
                height: 300px;
                width: auto;
            }
        }
    }
}